*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
body,html{
	width:100%;
	height:100%;
	outline:none;
}
ul,li{
	list-style:none;
}
a{
	text-decoration:none;
}
.l{
	float:left;
}
.r{
	float:right;
}
$base:30px; //html fontsize 就设置成这个值
@function px2rem($px){
  @return $px/$base *1rem;
}

#product{
	header {
		height: px2rem(50px);
		text-align: center;
		line-height: px2rem(50px);
		padding-bottom:px2rem(8px);
		border-bottom:px2rem(1px) solid #ccc;
	}
	nav{
		border-bottom:px2rem(1px) solid #ccc;
		.herald{
			border-right:none;
			}
			span{
				display: inline-block;
				line-height: px2rem(36px);
				text-align: center;
				border-right:px2rem(1px) solid #ccc;
				height: px2rem(45px);
				padding:px2rem(2px) px2rem(16px);
				a{
					font-size: px2rem(16px);
					color: #666;
				}
				.focus{
				
				color: yellow;
				}
			
		}		
	
	}

}