*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
a{
	text-decoration:none;
}
body,html{
	width:100%;
	height:100%;
	outline:none;
a {
    text-decoration: none;
}
ul,li{
	list-style:none;
    outline: none;
}
.l{
	float:left;
}
.r{
	float:right;
}
$base:30px; //html fontsize 就设置成这个值
@function px2rem($px){
  @return $px/$base *1rem;
}
#category{

	

	.yintai-header {
    	width: 100%;
    	position: relative;
    	z-index: 510;
    	background-color: #fff;
    	height: px2rem(40px);
    	border-bottom: px2rem(1px) solid #ccc;

		.back-button {
    		position: absolute;
    		width: px2rem(18px);
    		line-height: px2rem(40px);
    		top: 0;
    		left: px2rem(10px);
    		font-weight: 600;
		}

		.hear-name {
    		width: px2rem(200px);
    		text-align: center;
    		line-height: px2rem(40px);
    		font-size: px2rem(16px);
    		font-weight: 500;
    		margin: px2rem(0px) auto;
    		height: px2rem(40px);
    		white-space: nowrap;
    		overflow: hidden;
    		text-overflow: ellipsis;
		}

		.xiala {
    		position: absolute;
    		right: px2rem(20px);
    		top: 0;
    		width: px2rem(22px);
    		height: px2rem(40px);

    		span {
    		display: block;
    		width: px2rem(22px);
    		line-height: px2rem(40px);
    		}
    	}

	}

   	.kd-alert {
    		display: block;
    		position: absolute;
    		right: 0px;
    		top: px2rem(40px);
    		z-index: 1;
    		background-color: #fff;

    		.alert-content{
    			padding:px2rem(5px);

    			a {
    				display: block;
    				padding: px2rem(5px);
    				text-align: center;
    				text-decoration: none;
    				color: #666;
    				border-bottom: px2rem(1px) solid #ccc;
				
					img{
						float:left;
						display: inline-block;
    					width: px2rem(25px);
    					height: px2rem(20px);
    					margin: px2rem(5px) px2rem(5px) px2rem(5px) 0;
    					vertical-align: top;
    					background-size: 100%;
					}
					span{
						display: inline-block;
    					width: px2rem(60px);
    					height: px2rem(20px);
    					margin: px2rem(7px) 0 px2rem(3px);
    					line-height: px2rem(20px);
    					font-size: px2rem(14px);
					}
				}

				
    		}
	}
}
}