*{
	margin:0;
	padding:0;
    outline:none;
	box-sizing:border-box;
}
body,html{
	width:100%;
	height:100%;
    background:#f1f1f1;
    }
ul,li{
	list-style:none;
}
a{
	text-decoration:none;
}
.l{
	float:left;
}
.r{
	float:right;
}
$base:30px; //html fontsize 就设置成这个值
@function px2rem($px){
  @return $px/$base *1rem;
}
#home{
	img{
		display:block;
		width:100%;
		height:100%;
	}
	header{
		width: 100%;
    	height: px2rem(55px);
    	position: fixed;
    	top: 0px;
    	z-index: 100;
    	background: #fff;
    	.head{
    		position: relative;
    		padding-top: px2rem(6px);
    		.logo{
    			position: absolute;
    			left: 0;
    			top: px2rem(6px);
    			width: px2rem(75px);
    			height: px2rem(42.5px);		
    		}
    		.search{
    			height: px2rem(42.5px);
    			padding: 0 px2rem(55px) 0 px2rem(75px);
    			.sea-min{
    				height: px2rem(42.5px);
    				border: px2rem(1px) solid #d2d2d2;
    				border-radius: px2rem(5px);
    				.sea-txt{
    					position: relative;
    					padding: px2rem(6px);
    					input{
    						width: 100%;
    						display: block;
    						padding-right: px2rem(50px);
    						height: px2rem(30px);
    						line-height:px2rem(30px);
    						border:0 none;
                            font-size:px2rem(16px);
    						color: #cacaca;
    					}
    					span{
    						position: absolute;
    						right: px2rem(5px);
    						top: px2rem(6px);
    						width: px2rem(36px);
    						height: px2rem(30px);
    						padding-left: px2rem(5px);
    						border-left: px2rem(1px) solid #ddd;
    						img{
    							display: block;
    							width: px2rem(20px);
    							height: px2rem(20px);
    							margin: px2rem(5px) auto;
    						}
    					}
    				}
    			}
    		}
    		.user{
    			position: absolute;
    			right: 0;
    			top: px2rem(6px);
    			width: px2rem(55px);
    			height: px2rem(42.5px);
    			a{
    				display: block;
    				width: px2rem(30px);
    				height: px2rem(30px);
    				margin: px2rem(6px) auto 0;
    			}
    		}
    	}
	}
	.swipe1{
		padding-top:px2rem(50px);
		width:100%;
		position:relative;
    	overflow: hidden;
	}
    .swipe2{
        width:100%;
        height:px2rem(82px);
        position:relative;
        overflow:hidden;
        a{
            display:block;
            width:100%;
        }
    }
    .area{
        width:100%;
        height:px2rem(72px);
        background:#fff;
        margin-bottom:px2rem(6px);
        .fiveimg{
            width:100%;
            height:100%;
            a{
                display:block;
                width:20%;
                color:#666;
                p{
                    height:px2rem(16px);
                    margin: px2rem(8px) auto;
                    font-size:px2rem(14px);
                    text-align: center;
                    overflow: hidden;
                }
            }
        }
    }
    .floor1{
        width:100%;
        background:#fff;
        margin-bottom:px2rem(6px);
        .head{
            width:100%;
            a{
                display:block;
                width:100%;
            }
        }
        .content{
            width:100%;
            padding:px2rem(5px) px2rem(3px);
            .pro-one{
                width:20%;
                padding:0 px2rem(2px) 0 0;
                background:#fff;
                .pro-img{
                    position: relative;
                    border: px2rem(1px) solid #e0e0e0;
                    text-align: center;
                }
                .pro-name{
                    text-align: left;
                    height: px2rem(36px);
                    line-height: px2rem(18px);
                    margin: px2rem(5px) auto;
                    color: #666;
                    font-size:px2rem(14px);
                    overflow: hidden;
                }
                .pro-price{
                    height: px2rem(18px);
                    text-align: left;
                    font-size:px2rem(14px);
                    span{
                        margin-right: px2rem(8px);
                        color: #e5004f;
                    }
                }
            }
        }
    }
    .floor2{
        width:100%;
        float:left;
        background:#fff;
        margin-bottom:px2rem(2px);
        .head{
            width:100%;
            a{
                display:block;
                width:100%;
            }
        }
        .content{
            width:100%;
            .img{
                width:50%;
                border-right: px2rem(1px) solid #f1f1f1;
            }
        }
    }
    .floor3{
        width:100%;
        margin-bottom:px2rem(2px);
        .product{
            width:100%;
            float:left;
            background:#fff;
            margin-bottom:px2rem(6px);
            .head{
                width:100%;
                a{
                    width:100%;
                }      
            }
            .content{
                width:100%;
                .top{
                    width:100%;
                    a{
                        display:block;
                        width:50%;
                        margin:0;
                    }
                }
                .bottom{
                    width:100%;
                    a{
                        display:block;
                        width:33%;
                    }
                }
            }
        }

        .two,.six,.eight,.ten{
            .content{
                position:relative;
                .top{
                    a:nth-of-type(3){
                        position:absolute;
                        right:0;
                        top:0;
                    }
                }
            }
        }
    }
    .main{
        width:100%;
        padding: 0px px2rem(4px);
        background-color: #f1f1f1;
        .product{
            width:100%;
            margin:0 auto;
            padding-top:px2rem(4px);
            .pro-line{
                width:100%;
                overflow:hidden;
                .pro-one{
                    width:50%;
                    position: relative;
                    padding-bottom: px2rem(8px);
                    background-color: #fff;
                    padding-right: px2rem(2px);
                    margin-bottom: px2rem(4px);
                    overflow: hidden;
                    .pro-img{
                        text-align:center;
                        a{
                            display:block;
                            width:100%;
                        }
                    }
                    .pro-name{
                      height: px2rem(44px);
                      line-height: px2rem(22px);
                      padding: 0 px2rem(8px);
                      margin: px2rem(5px) 0;
                      overflow: hidden;
                      font-size:px2rem(14px);
                      color: #333;  
                    }
                    .pro-price{
                        padding:0 px2rem(8px);
                        padding-left: px2rem(20px);
                        background: url(//r.ytrss.com/mobile/img/phone-enjoy.png) 5px 3px no-repeat;
                        background-size: px2rem(15px);
                        span{
                            font-size:px2rem(14px);
                        }
                        .sell{
                            display:inline-block;
                            margin-top:px2rem(-2px);
                            margin-right: px2rem(8px);
                            color: #e5004f;
                            line-height:px2rem(21px);
                            b{
                                font-size:px2rem(16px);
                            }
                        }
                        .market{
                            color:#666;

                        }
                    }
                    .pro-prom{
                        position: absolute;
                        top: 0;
                        left: 0;
                        padding: px2rem(5px) px2rem(8px);
                        font-size: px2rem(12px);
                        background-color: #ff3b7f;
                        color: #fff;
                    }
                }
            }
        }
    }
    .ft{
        width: 100%;
        padding-bottom: px2rem(50px);
        text-align: center;
        color: #999;
        background-color: #ececec;
        .footer{
            text-align: center;
            width:100%;
            margin: 0 auto;
            padding-top: px2rem(10px);
            .ftnav{
                padding:0 px2rem(15px);
                a{
                    float: left;
                    width: 25%;
                    line-height: px2rem(18px);
                    padding: px2rem(5px) 0;
                    strong{
                        font-weight: 500;
                        color: #999;
                        font-size:px2rem(14px);
                    } 
                }
            }
            .login{
                width:100%;
                padding: px2rem(5px) px2rem(15px) px2rem(10px);
                line-height:px2rem(22px);
                .left{
                    margin-left:px2rem(5px);
                    a{
                        margin:0 px2rem(5px);
                        font-weight:500;
                        color:#666;
                        font-size:px2rem(14px);
                    }
                    .bor{
                        padding-right:px2rem(10px);
                        border-right:px2rem(1px) solid #666;
                    }
                }
                .right{
                    a{
                        margin:0 px2rem(5px);
                        font-weight:500;
                        color:#666;
                        font-size:px2rem(14px);  
                    }
                } 
            }
        }
        .contact{
            width:100%;
            border-top: px2rem(1px) solid #ddd;
            padding: px2rem(12px) 0;
            p{
                font-size:px2rem(14px);
                a{
                    color:#999;
                    font-size:px2rem(14px);
                }
            }
        }
    }
    .gotop{
        position: fixed;
        right: px2rem(10px);
        bottom: px2rem(60px);
        z-index: 10;
        a{
            display: block;
            background: url(https://r.ytrss.com/mobile/img/top.png) no-repeat;
            background-size: 100% 100%;
            width: px2rem(35px);
            height: px2rem(35px);
        }
    }
	nav{
		width: 100%;
    	height: px2rem(54px);
        position: fixed;
        bottom: 0;
        z-index: 100;
    	.container{
    		width: 100%;
            height:100%;
    		overflow: hidden;
    		box-shadow: 0 0 px2rem(10px) 0 rgba(155,143,143,0.6);
    		background-color: #fff;
    		.cf{
                width:100%;
    			height: 100%;
    			position: relative;
    			background-color: #fff;
    			li{
    				width: 20%;
    				text-align: center;
                    padding-top:px2rem(8px);
    				position: relative;
    				a{
    					display: block;
                        height:px2rem(40px);
    					color: #666;
                        margin:0 auto;
                        text-align:center;
    					img{
    						display:block;
    						width:px2rem(24px);
    						height:px2rem(20px);
    						margin: 0 auto px2rem(2px);
    					}
    					span{
                            display:inline-block;
                            width:px2rem(75px);
    						color:#666;
                            float:left;
                            text-align:center;
                            font-size:px2rem(14px);
    					}
    				}
    			}
    			li.first{
    				a{
    					span{
    						color: #e5004f;
                            font-size:px2rem(16px);
    					}
    				}
    			}
    		}
    	}
	}
}