*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
body,html{
	width:100%;
	height:100%;
	outline:none;
}
ul,li{
	list-style:none;
}
a{
	text-decoration:none;
}
.l{
	float:left;
}
.r{
	float:right;
}
$base:30px; //html fontsize 就设置成这个值
@function px2rem($px){
  @return $px/$base *1rem;
}

#details{
	width:100%;
	height:100%;
}
